
.fotodavi {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.fotodavi img {
    border-radius: 20px;
    height: 25%;
    width: 25%;
    box-shadow: 12px 13px 26px 0px rgba(0,0,0,0.75);
    opacity: 10%;
    transition: all 400ms;
    border: 2px solid black;
}

.fotodavi img:hover {
    height: 35%;
    width: 35%;
    opacity: 100%;
    transition: all 400ms;
}

.textodavi h1 {
    font-family: "Edu TAS Beginner";
    text-align: center;
}

body style {
    background-position: center;
}

@media screen and (max-width: 470px) {
    .fotodavi img {
        height: 65%;
        width: 65%;
        margin-top: 280px;
    }

    .fotodavi img:hover {
        height: 75%;
        width: 75%;
        opacity: 100%;
        transition: all 400ms;
    }
}